@model ResultViewModel
<style>
    div.alert {
        margin-top: 20px;
    }
</style>
<div class="results">
    <img class="boyarskiy-face-result" src="@Model.ImageUrl" />
    <div class="statistics text-center">
        <h5 class="text-uppercase">Результат</h5>
        <ul>
            <li>
                Тест пройден на <b>@Model.PercentRatio%</b>.
            </li>
            <li>
                Правильных ответов: @Model.CorrectAnswersCount из @Model.TotalQuestionsCount.
            </li>
        </ul>
        <div class="controls">
            <a class="btn btn-warning" href='javascript:history.go(-1)'>
                Пройти еще раз
            </a>
            <a class="btn btn-outline-info" onclick="document.querySelector('div.hidden-answers').style.display = 'block'; document.querySelector('div.results').style.display = 'none';">
                Смотреть результаты
            </a>
        </div>
    </div>
</div>
<div class="hidden-answers" style="display: none;">
    @if (Model.EasyQuestions != null && Model.EasyQuestions.Count > 0)
    {
        foreach (var question in Model.EasyQuestions)
        {
            <div class="question">
                <h3>@question.Question </h3>
                <div class="question-image">
                    <img height="300" src="@question.ImageBase64" alt="Картинка" />
                </div>
                <div class="alert alert-success" role="alert">
                    Правильный ответ: <br />
                    <b>@question.CorrectAnswer</b>
                </div>
                @if (string.IsNullOrEmpty(question.SelectedAnswer))
                {
                    <div class="alert alert-danger" role="alert">
                        Вы выбрали: <br />
                        <b>-</b>
                    </div>
                }
                else if (question.SelectedAnswer != question.CorrectAnswer)
                {
                    <div class="alert alert-danger" role="alert">
                        Ваш ответ: <br />
                        <b>@question.SelectedAnswer</b>
                    </div>
                }
            </div>
        }
    }
    @if (Model.MediumQuestions != null && Model.MediumQuestions.Count > 0)
    {
        foreach (var question in Model.MediumQuestions)
        {
<div class="question">
    <h3>@question.Question </h3>
    <div class="question-image">
        <img height="300" src="@question.Thumbnail" alt="Картинка" />
    </div>
    @if (string.IsNullOrEmpty(question.UserInput))
    {
        <div class="alert alert-success" role="alert">
            Ответы: <br />
            @foreach (var answer in question.PossibleAnswers)
            {
                <b>@(answer + "; ")</b>
            }
        </div>
        <div class="alert alert-danger" role="alert">
            <b>Вы ничего не ввели</b>
        </div>
    }
    else if (!question.PossibleAnswers.Contains(question.UserInput?.ToLower().Trim()))
    {
        <div class="alert alert-success" role="alert">
            Ответы: <br />
            @foreach (var answer in question.PossibleAnswers)
            {
                <b>@(answer + "; ")</b>
            }
        </div>
        <div class="alert alert-danger" role="alert">
            Ваш ответ: <br />
            <b>@question.UserInput?.ToLower().Trim()</b>
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            Ваш ответ: <br />
            <b>@question.UserInput.ToLower().Trim()</b>
        </div>
    }
</div>
        }
    }
    @if (Model.HardQuestions != null && Model.HardQuestions.Count > 0)
    {
        foreach (var question in Model.HardQuestions)
        {
<div class="question">
    <div class="question-image">
        <h3>Найдите вид со спутника</h3>
        <img height="200" src="data:image/jpg;base64, @question.Thumbnail" alt="Картинка" />
    </div>
    @if (string.IsNullOrEmpty(question.SelectedAnswer))
    {
        <div class="alert alert-success" role="alert">
            Правильный ответ:
            <br />
            <img class="scale" height="150" src="data:image/jpg;base64, @question.CorrectAnswer" alt="Картинка" />
        </div>
        <div class="alert alert-danger" role="alert">
            <b>Вы ничего не выбрали</b>
        </div>
    }
    else if (question.SelectedAnswer != question.CorrectAnswer)
    {
        <div class="alert alert-success" role="alert">
            Правильный ответ:
            <br />
            <img class="scale" height="150" src="data:image/jpg;base64, @question.CorrectAnswer" alt="Картинка" />
        </div>
        <div class="alert alert-danger" role="alert">
            Ваш ответ:
            <br />
            <img class="scale" height="150" src="data:image/jpg;base64, @question.SelectedAnswer" alt="Картинка" />
        </div>
    }
    else
    {
        <div class="alert alert-success" role="alert">
            Ваш ответ:
            <br />
            <img class="scale" height="150" src="data:image/jpg;base64, @question.CorrectAnswer" alt="Картинка" />
        </div>
    }

</div>
    <hr>
        }
    }
    <a class="mx-auto btn btn-info" href="/">
        На главную
    </a>
</div>
