@model IList<WebApplication.Models.Easy.EasyQuestionViewModel>
<div id="test-carousel" class="carousel slide text-center" data-ride="false">
    <form enctype="multipart/form-data" asp-controller="Result" asp-action="Easy" method="post" class="carousel-inner">
        @for (int i = 0; i < Model.Count; i++)
        {
            string carousel_item_class = i == 0 ? "carousel-item active" : "carousel-item";
            <div class="@carousel_item_class">
                <div class="question">
                    <h3 name="[@i].Question">@Model[i].Question </h3>
                    <div class="question-image">
                        <img height="300" src="@Model[i].ImageBase64" alt="Картинка" class="scale" />
                    </div>
                    <div class="select-answer">
                        @foreach (var answer in Model[i].Options)
                        {
                            <label>
                                <input name="[@i].SelectedAnswer" type="radio" value="@answer" />
                                @answer
                            </label> <br />
                        }
                    </div>
                </div>
                <input type="hidden" name="[@i].CorrectAnswer" value="@Model[i].CorrectAnswer" />
            </div>
        }

        <input id="submit-test" type="submit" style="display: none;" />

        <a class="carousel-control-prev" href="#test-carousel" role="button" data-slide="prev">
            <span class="btn btn-info" aria-hidden="true">Назад</span>
        </a>
        <a class="carousel-control-next" href="#test-carousel" role="button" data-slide="next">
            <span class="btn btn-info">Дальше</span>
        </a>
    </form>
</div>
<button class="btn btn-outline-success" onclick="document.getElementById('submit-test').click()">Отправить</button>