@model IList<WebApplication.Models.Hard.HardQuestionViewModel>

<p>Решай тест давай</p>
<div class="unique">
    <form enctype="multipart/form-data" asp-controller="Result" asp-action="Hard" method="post">
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="question">
                <div class="question-image">
                    <img width="400" src="data:image/jpg;base64, @Model[i].Thumbnail" alt="Картинка" />
                </div>
                <div class="select-answer">
                    @foreach (var answer in Model[i].Options)
                    {
                        <label>
                            <input name="[@i].SelectedAnswer" type="radio" value="@answer" />
                            <img width="200" src="data:image/jpg;base64, @answer" alt="Вариант № @i"/>
                        </label> <br />
                    }
                </div>
            </div>
            <input type="hidden" name="[@i].CorrectAnswer" value="@Model[i].CorrectAnswer" />
        }
        <button>Отправить</button>
    </form>
</div>